@page "/venues/{VenueId}"
@inject PubCrawlService PubCrawlService
@inject NavigationManager Navigation

<div class="container">
    <h1>@_venueName</h1>

    @if (_isCheckedIn)
    {
        <button class="selected btn" @onclick="CheckOutAsync">Check Out 👋</button>
    }
    else
    {
        <button class="btn" @onclick="CheckInAsync">Check In 🙋</button>
    }

    <ul class="beer-list">
        @foreach (var beer in _beers)
        {
            <li class="beer-item">
                <div class="beer-info">
                    <h4>@beer.Brewery</h4>
                    <h2>@beer.Name <span>@(beer.Abv)%</span></h2>
                    <p>@beer.Description</p>
                </div>
                <div>
                    <button class="btn @(IsRatingSelected(beer.Id, 1) ? "selected" : "")" @onclick="() => LikeAsync(beer.Id)">👍</button>
                    <button class="btn @(IsRatingSelected(beer.Id, -1) ? "selected" : "")" @onclick="() => DislikeAsync(beer.Id)">👎</button>
                </div>
            </li>
        }
    </ul>

</div>



                @* <div class="beer-rating">@(_ratings.ContainsKey(beer.Id) ? _ratings[beer.Id] : 0)</div> *@

@code {
    private string _venueName = string.Empty;
    private bool _isCheckedIn;
    private List<Beer> _beers = new();
    private Dictionary<string, int> _ratings = new();

    [Parameter]
    public string VenueId { get; set; } = string.Empty;

    protected override async Task OnInitializedAsync()
    {
        var beers = (await PubCrawlService.GetBeerSelectionAsync())
            .ToDictionary(b => b.Id);
        var venue = await PubCrawlService.GetVenueAsync(VenueId);
        var status = await PubCrawlService.GetCrawlerStatusAsync();

        foreach (var b in beers)
        {
            Console.WriteLine(b.Key);
        }

        _venueName = venue.Name;
        _isCheckedIn = (status.VenueId == VenueId);
        _ratings = status.BeerRatings;
        _beers = venue.Beers.Select(b => beers[b]).ToList();
    } 

    public async Task CheckInAsync()
    {
        await PubCrawlService.CheckInAsync(VenueId);
        _isCheckedIn = true;
    }

    public async Task CheckOutAsync()
    {
        await PubCrawlService.CheckOutAsync(VenueId);
        _isCheckedIn = false;

        Navigation.NavigateTo("/");
    }

    public async Task LikeAsync(string beerId)
    {
        var currentRating = _ratings.ContainsKey(beerId) ? _ratings[beerId] : 0;
        var newRating = currentRating == 1 ? 0 : 1;
        await PubCrawlService.RateBeerAsync(beerId, newRating);

        _ratings[beerId] = newRating;
    }

    public async Task DislikeAsync(string beerId)
    {
        var currentRating = _ratings.ContainsKey(beerId) ? _ratings[beerId] : 0;
        var newRating = currentRating == -1 ? 0 : -1;
        await PubCrawlService.RateBeerAsync(beerId, newRating);

        _ratings[beerId] = newRating;
    }

    private bool IsRatingSelected(string beerId, int rating)
    {
        return _ratings.ContainsKey(beerId) && _ratings[beerId] == rating;
    }
}
